<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <context-param>
    <param-name>siteTitle</param-name>
    <param-value>KhangQuach</param-value>
  </context-param>

  <!-- Khai báo servlet -->
  <servlet>
    <servlet-name>RegisterForm</servlet-name>
    <servlet-class>murach.controllers.JoinForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterForm</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Thanks</servlet-name>
    <servlet-class>murach.controllers.Thanks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thanks</servlet-name>
    <url-pattern>/thanks</url-pattern>
  </servlet-mapping>


  <!-- Cấu hình session -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <!-- File mặc định khi truy cập web -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
